In [13]:
a = 10
print(a)
a = "Hello"
print(a)
a = [1, 3, 5]
print(a)

10
Hello
[1, 3, 5]

In [17]:
a, b, c, d = 10, 20.5, "Hello", [1,3,5]
print(a)
print(b)
print(c)
print(d)

10
20.5
Hello
[1, 3, 5]

In [21]:
for i in range(1, 10):
    if i < 5:
        print(i)
    else:
        print("Hello")

1
2
3
4
Hello
Hello
Hello
Hello
Hello

In [25]:
(1, 3, 5)

(1, 3, 5)

In [26]:
x = 10
x = 10.5
x = 5j
x = [1, 3, 5, "String", 10.5, 5j]

x = (1, 5, 3)

In [29]:
x = {
    "Name" : "Aurghya",
    "Age": {
        "DOB": "10-02-10",
        "Count": 10
    }
}

In [33]:
x = {"Apple", "Banana", "Victor"}
for i in x:
    print(i)

Apple
Banana
Victor

In [34]:
x = True
x = False

In [48]:
x = b"Hello World"
memoryview(bytes(x))

In [55]:
a = 10
b = 10.5

print(a)
print(b)

b = int(b)
a = float(a)
print(a)
print(b)

a = 10
str(a)
print(a)

10
10.5
10.0
10
10

In [57]:
a = [i for i in range(1, 10)]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [62]:
b = a[4:]
b

[5, 6, 7, 8, 9]

In [68]:
a = 13
b = 15

not(a>13)

True

In [71]:
a = [10, 20]
b = [10, 20, 30]
c = [10, 20]

False